.preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}
.spinner {
  width: 60px;
  height: 60px;
  background-color: $white;
  border-radius: 100%;
  @include animation(sk-scaleout 1.0s infinite ease-in-out);
}
@-webkit-keyframes sk-scaleout {
  0% {
    @include transform(scale(0));
  }

  100% {
    @include transform(scale(1.0));
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% {
    @include transform(scale(0));
  }

  100% {
    @include transform(scale(1.0));
    opacity: 0;
  }
}
